		<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

		<meta charset="utf-8">
		<meta name="robots" content="index,nofollow">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="{{ site.author.name }}">
		<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
		<meta name="keywords" content="{{ page.tags | default: site.keywords | strip_html | normalize_whitespace | truncate: 160 | escape }}">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="msapplication-TileImage" content="/resources/icons/mstile-144x144.png">
		<meta name="msapplication-config" content="/resources/icons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" sizes="180x180">
		<link rel="icon" href="/assets/icons/favicon-32x32.png" type="image/png" sizes="32x32">
		<link rel="icon" href="/assets/icons/favicon-194x194.png" type="image/png" sizes="194x194">
		<link rel="icon" href="/assets/icons/android-chrome-192x192.png" type="image/png" sizes="192x192">
		<link rel="icon" href="/assets/icons/favicon-16x16.png" type="image/png" sizes="16x16">
		<link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">

		<link rel="manifest" href="/assets/icons/site.webmanifest">
		<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/assets/icons/favicon.ico">

		<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

		<!-- feeds -->
		<link rel="alternate" href="{{ site.path.atom_feed | absolute_url }}" type="application/atom+xml" title="{{ site.author.name }} Atom Feed" />
		<link rel="alternate" href="{{ site.path.rss_feed | absolute_url }}" type="application/rss+xml" title="{{ site.author.name }} RSS Feed" />



		<!--fonts-->
		<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600" type="text/css">-->
		<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300" type="text/css">-->
		<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" type="text/css">-->

		<!--icons-->
		<link rel="stylesheet" href="/assets/lib/fontawesome-pro-5.0.10/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="/assets/lib/iconsfordevs/css/iconsfordevs.min.css">
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

		<!--styles-->
		<link rel="stylesheet" href="/assets/lib/bootstrap-4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/lib/mdbootstrap-4.5.3/css/mdb.css">
		<!--<link rel="stylesheet" href="/assets/css/main.css ">-->

		<!-- Custom styles -->
		<link rel="stylesheet" href="/assets/css/style.css?body=1" type="text/css" media="all">
		<link rel="stylesheet" href="/assets/css/mnstyles.css" type="text/css" media="all">
