---
layout: blog
title : Archive
header : Post Archive
group: navigation
permalink: /blog/archive/
---
{% include JB/setup %}

<!--Archive-->
<section class="archive mb-5">

	<!--/ Card-->
	<div class="card card-body pb-0">
		<div class="single-post">

			<p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
				<strong>ARCHIVE</strong>
			</p>

			<!--Grid row-->
			<div class="row mb-4">

				<!--Grid column-->
				<div class="col-md-12">

					<!--Accordion wrapper-->
					<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

						{% assign posts_collate = site.posts %}
						{% include JB/archiveSidebar %}
					</div>
					<!--/.Accordion wrapper-->


					<!--List-->


					<ul class="list-unstyled">
						<li>
							<p class="mb-1">
								<a href="#!" class="dark-grey-text">August 2016</a>
							</p>
						</li>
						<li>
							<p class="mb-1">
								<a href="#!" class="dark-grey-text">July 2016</a>
							</p>
						</li>
						<li>
							<p class="mb-1">
								<a href="#!" class="dark-grey-text">June 2016</a>
							</p>
						</li>
						<li>
							<p class="mb-1">
								<a href="#!" class="dark-grey-text">May 2016</a>
							</p>
						</li>
						<li>
							<p class="mb-1">
								<a href="#!" class="dark-grey-text">April 2016</a>
							</p>
						</li>
						<li>
							<p class="mb-1">
								<a href="#!" class="dark-grey-text">March 2016</a>
							</p>
						</li>
						<li>
							<p class="mb-1">
								<a href="#!" class="dark-grey-text">Febuary 2016</a>
							</p>
						</li>
					</ul>
					<!--List-->

				</div>
				<!--Grid column-->

			</div>
			<!--Grid row-->

		</div>

	</div>
	<!--/ Card-->

</section>
<!--Archive-->