---
layout: blog
title: Categories
header: Posts By Category
group: navigation
permalink: /blog/categories/
---
{% include JB/setup %}

<section class="section">
	<div class="card">
		<div class="card-body">
			{% assign categories_list = site.categories | sort %} {% include JB/categories_list %}
		</div>

		{% assign sorted_cats = site.categories | sort %}
		{% for category in sorted_cats %}
		{% assign sorted_posts = category[1] | reversed %}
		<h2 id="{{category[0] | uri_escape | downcase }}-ref">{{category[0] | capitalize}}</H2>
		<ul>
			{% for post in sorted_posts %}
			<li><a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a></li>
			{% endfor %}
		</ul>
		{% endfor %}
		<hr>

		{% for category in site.categories | sort %}
		<h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
		<ul>
			{% assign pages_list = category[1] %} {% include JB/pages_list %}
		</ul>
		{% endfor %}
	</div>
</section>
