---
layout: blog
title: Tags
header: Posts By Tag
group: navigation
permalink: /blog/tags/
---
{% include JB/setup %}

<section class="section">
	<div class="card">
		<div class="card-body">
			{% assign tags_list = site.tags | sort %} {% include JB/tags_list %}
		</div>

		{% assign sorted_tags = site.tags | sort %}
		{% for tag in sorted_tags %}
		{% assign sorted_posts = tag[1] | reversed %}
		<h2 id="{{tag[0] | slugify  }}-ref">{{tag[0] | capitalize}}</H2>
		<ul>
			{% for post in sorted_posts %}
			<li><span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
		{% endfor %}
		<hr>

		{% assign sorted_tags = site.tags | sort %}
		{% for tag in sorted_tags %}
		<h2 id="{{ tag[0] | slugify }}-ref">{{ tag[0] }}</h2>
		<ul>
			{% assign pages_list = tag[1] %} {% include JB/pages_list %}
		</ul>
		{% endfor %}
	</div>
</section>