{% include JB/setup %}<!DOCTYPE html>
<html lang="en">
<head>
	{% include _head.html %}
</head>
<body id="topOfPage" class="grey lighten-4" >

	<!--header-->
	<header></header>

	<!--navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">
		{% include _navigation.html %}
	</nav>

	<!--mainContent-->
	<main>
		{{ content }}
	</main>

	<!--footer-->
	<footer id="footer" class="page-footer elegant-color-dark">
		{% include _footer.html %}
	</footer>

{% include JB/analytics %}
{% include _scripts.html %}
</body>
</html>


<!--TODO -->
<!--Smooth Scrolls for tags and categories-->