---
layout: blog
---
{% include JB/setup %}

<div class="row post-full">
  <div class="col-xs-12">



    {% include blog/post.html myPost=page isPost=true %}
    <ul class="pagination">
      {% if page.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a></li>
      {% else %}
      <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
      <li><a href="{{ BASE_PATH }}{{ site.path.blog_archive }}">Archive</a></li>
      {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
      {% else %}
      <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
    </ul>
    <hr>
    {% include JB/comments %}
  </div>
</div>


